@import '/styles/commonStyle.scss';

.landingSection {
  background: #FFFFF5;
  display: block;
  padding-top: 164px;

  .landingSecDataWrapper {
    @include displaySettings();

      .stringsDataWrapper {
        @include stringsWrapperDefault();
      }
  }
}