@import '/styles/commonStyle.scss';

@keyframes flashes {
  0% {
    transform: translateX(-130px);
    opacity: 1;
  }

  8% {
    transform: translateX(30px);
    opacity: 1;
  }

  100% {
    transform: translateX(30px);
  }
}

.primaryButtonOnly {
  margin-top: 24px;
  width: auto;
    a {
    padding: 16px 24px;
    display: inline-block;
    border-radius: 48px;
    position: relative;
    background: var(--pri_btn_bg);
    color: var(--pri_btn_text);
    }
}

.secondaryButtonOnly {
  margin-top: 24px;
  width: auto;
  a {
      padding: 16px 24px;
      display: inline-block;
      border-radius: 48px;
      position: relative;
      border: 1px solid;
  }
}


.buttonsWrapper {
  display: flex;
  margin-top: 24px;

  .primaryButton {
  overflow: hidden;
  border-radius: 48px;
  margin-right: 24px;

      a {
      padding: 16px 24px;
      display: inline-block;
      border-radius: 48px;
      position: relative;
      background: var(--pri_btn_bg);
      color: var(--pri_btn_text);  
      }
  }

  .secondaryButton {
      a {
          padding: 16px 24px;
          display: inline-block;
          border-radius: 48px;
          position: relative;
          border: 1px solid var(--sec_btn_text);
          color: var(--sec_btn_text);
      }
  }

  @include for-tinnyP-only {
    display: block;
    width: inherit;
    .secondaryButton, .primaryButton {
        width: 100%;
      a {
        display: block;
        width: 100%;
      }
    }

    .primaryButton {
      margin-bottom: 16px;
    }
  }

  @include for-desktop-only {
    margin-top: 24px;
  }
}