@import '/styles/commonStyle.scss';

.learnDesignSection {
  height: unset;

  .learnDesignSecDataWrapper {
    display: flex;
    flex-direction: column-reverse;

    .stringsDataWrapper {
      width: 100%;
      display: block;
      z-index: 1;

      h1 {
        text-align: left;
      }
    }

    .imageDataWrapper {
      background: #FCF6C7;
      padding: 32px;
      border-radius: 16px;
      overflow: hidden;
      width: 100%;
      height: 240px;
      margin-bottom: 40px;
      position: relative;

      img {
        width: 90%;
        height: auto;
        transform: scale(1.1);
        transform-origin: 0 100%;
        position: absolute;
        bottom: -5%;
        left: 0;
      }
    }
  }

  @include for-tablet-only {

    .learnDesignSecDataWrapper {

      .imageDataWrapper {
        height: 40vh;

        img {
          width: 400px;
          height: auto;
          bottom: 0;
          left: 10%;
          transform: scale(1);
        }
      }

    }
    
  }


  @include for-desktop-only {
    height: 70vh;
    // padding: 0 18%;
    overflow: hidden;
    display: flex;
    align-items: center;

    .learnDesignSecDataWrapper {
      @include displaySettings(flex, row-reverse);
      align-items: center;
      width: 50%;

      .stringsDataWrapper {
        z-index: 1;
        margin-left: 48px;

        h1 {
          text-align: left;
        }

        p {
          @include stringsWrapperDefault(450px);
        }
      }

      .imageDataWrapper {
        padding: 32px;
        height: 48vh;
        width: 60%;

        img {
          width: 100%;
          height: auto;
          left: 0;
          transform: scale(1.2) translate(-40px,40px);
        }
      }
    }
  }
}