@import '/styles/commonStyle.scss';

.landingSection {
  background: var(--yellow_lesser);
  display: block;
  width: 100%;

  .landingSecDataWrapper {
    display: block;
    margin-top: 48px;

    .stringsDataWrapper { 
      display: block;
      z-index: 10;
      h1 {
        text-align: left;
        z-index: 1;
        margin-bottom: 24px;
        max-width: 80%;

        &:after {
          position: absolute;
          z-index: -3;
          content: '';
          position: absolute;
          height: 200px;
          width: 200px;
          top: -30px;
          left: -30px;
          border-radius: 100%;
          background: var(--yellow);
        }
      }

      p {
        z-index: 2;
      }
    }

    .imageDataWrapper {
        display: none;
      }
   }

@include for-desktop-only {
  height: 100vh;
  overflow: hidden;
  @include displaySettings();

  .landingSecDataWrapper {
    @include displaySettings();
    margin-top: 0;
    // justify-items: center;
    // align-items: center;
    background: unset;

      .stringsDataWrapper {
        @include stringsWrapperDefault(40%);
        z-index: 1;
      }

      .imageDataWrapper {
        display: block;
        transform: translateY(116px) scale(1);
      }
  }
}

@include for-desktopX-only {
  height: vh;

  .landingSecDataWrapper {
    .imageDataWrapper {
      transform: translateY(10px) scale(1.15);
    }
  }
}
  
}