@import '/styles/commonStyle.scss';

.landingSection {
  background: var(--yellow_lesser);
  display: block;
  width: 100%;

  .landingSecDataWrapper {
    display: block;
    margin-top: 48px;
    
    .stringsDataWrapper { 
      display: block;
      position: relative;
      z-index: 10;

      h1 {
        text-align: left;
        margin-bottom: 24px;
      }z

      p {
        z-index: 1;
      }

      span {
        position: absolute;
          z-index: -10;
          position: absolute;
          height: 200px;
          width: 200px;
          top: -30px;
          left: -40px;
          border-radius: 100%;
          background-color: var(--yellow);
        }
    }

    .imageDataWrapper {
        display: none;
      }
   }

@include for-desktop-only {
  height: 80vh;
  overflow: hidden;
  @include displaySettings();

  .landingSecDataWrapper {
    display: flex;
    background: unset;
    position: relative;

      .stringsDataWrapper {
        z-index: 1;
        
        h {
          max-width: 80%;
        }
        
        p {
          @include stringsWrapperDefault(40%);
        }

      }

      .imageDataWrapper {
        display: block;
        position: absolute;
        top: 0px;
        right: -30px;
        transform: scale(1);
        // transform: translateY(120px) scale(1);
      }
  }
}

@include for-desktopX-only {

  .landingSecDataWrapper {
    .imageDataWrapper {
      transform: translateY(10px) scale(1.2);
    }
  }
}
  
}