@import '/styles/commonStyle.scss';

.recentLecSection {
    background-color: #EFEFE7;
    height: unset;
    padding-top: 32px;
    padding-bottom: 32px;

    .recentLecDataWrapper {
      display: block;
      background: #ffff;
      padding: 24px;
      border-radius: 16px;
      position: relative;

      .iconWrapper {
        position: absolute;
        right: 24px;
        bottom: 24px;
      }

      .stringsDataWrapper {
        display: block;

        .labelWrapper {
          background: #E6E6E6;
          border-radius: 16px;
          width: auto;
          display: inline-block;
          padding: 8px 12px;
          margin-bottom: 8px;
        }

        .descriptionWrapper {
          display: block;
          width: 100%; 
          
          h2 {
            width: auto;
            margin-right: 32px;
            margin-bottom: 8px;
          }

          p {
            width: auto;
            margin-bottom: 16px;
          }
        }
      }
    }

    @include for-tinnyP-only {

      .recentLecDataWrapper {

          .bw {
            display: block;
            width: 80%;
          }
      }
    }

    @include for-desktop-only {
        padding-top: 50px;
        padding-bottom: 50px;

        .recentLecDataWrapper {
        @include displaySettings();
        padding: 32px;

        .iconWrapper {
          position: unset;
        }
        
        .stringsDataWrapper {
          display: block;
          width: 100%;
          position: relative;
          margin-left: 32px;

          .descriptionWrapper {
            display: flex;
            justify-content: space-between;
            width: 100%; 
            
            h2 {
              width: auto;
              margin-right: 32px;
            }

            p {
              width: auto;
              margin-bottom: 0;
            }
          }
        }
      }
    } 
  }