@keyframes flashes {
  0% {
      transform: rotate(25deg) translateX(-130px);
  }

  8% {
      transform: rotate(25deg) translateX(10px);
  }

  100% {
      transform: rotate(25deg) translateX(10px);
  }
}


.buttonsWrapper {
  display: flex;
  margin-top: 16px;

  .primaryButton {
  overflow: hidden;
  border-radius: 48px;
  margin-right: 24px;

      a {
      padding: 16px 24px;
      display: inline-block;
      border-radius: 48px;
      position: relative;
      background: #000000;
      color: white;  
          &:after {
              content: '';
              position: absolute;
              height: 180px;
              width: 16px;
              background: #FFFFF5;
              opacity: 0.8;
              top: -10px;
              // mix-blend-mode: screen;
              animation: flashes 6s infinite ease-out;
              transform-origin: 50% 50%;
              transform: rotate(25deg) translateX(-30px);
          }
      }
  }

  .secondaryButton {
      a {
          padding: 14px 24px;
          display: inline-block;
          border-radius: 48px;
          position: relative;
          border: 2px solid;
      }
  }
}