
@mixin for-tablet-only {
    @media only screen and (min-width: 600px) { @content; }
}

@mixin for-desktop-only {
    @media only screen and (min-width: 1025px) { @content; }
}

@mixin for-desktopX-only {
    @media only screen and (min-width: 1224px) { @content; }
}

@mixin for-tinnyP-only {
    @media only screen and (max-width: 320px) { @content; }
}

@keyframes flashes {
    0% {
        transform: rotate(25deg) translateX(-130px);
    }

    8% {
        transform: rotate(25deg) translateX(10px);
    }

    100% {
        transform: rotate(25deg) translateX(10px);
    }
}

// this is the default styles for divs that contains heading, paragraphes and call to action

@mixin stringsWrapperDefault($max-width-value: 520px) {
    max-width: $max-width-value;
    min-width: 400px;
}

// this is the default styles for div parent wrappers

@mixin displaySettings($display-value: flex, $direction: row ) {
    display: block;

    @include for-desktop-only {
        display: $display-value;
        flex-direction: $direction;
        justify-content: space-between;
        width: 100%;
    }
}