.footer {
    height: 50px;
    background: white;
    color: rgb(65, 65, 65);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      li a {
        margin: 5px 15px;
      }
    }
  }