@import '/styles/commonStyle.scss';

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #424242;
  /* width: 100%; */
}

h1 {
  font-size: 46px;
  min-width: 80%;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  z-index: 1;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -2;
    opacity: 1;
    width: 55%;
    height: 50px;
    left: 0%;
  bottom: -18px;
    background: #FEFE6B;
  }

  @include for-tinnyP-only {
    font-size: 40px;
  }

  @include for-tablet-only {
    margin-bottom: 40px;
    min-width: 70%;
    max-width: 80%;
    font-size: 56px;

    &:after {
      width: 110%;
      left: -5%;
      bottom: -20px;
    }
  }
}

h2, h3, h4, h6, p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  display: block;
}

/* styles for direct children of the main tags (sections) ⇣ */

main > section {
  background: #ffff;
  display: block;
  width: 100%;
  padding: 52px 32px;

  @include for-tablet-only {
    padding: 0 10%;
  }

  @include for-desktop-only {
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 10%;
  }

  @include for-desktopX-only {
    padding: 0 16%;
  }
}

nav {
  padding: 32px;
  z-index: 20;

  @include for-desktop-only {
    padding: 0 10%;
  }

  @include for-desktopX-only {
    padding: 32px 16%;
  }
}

footer {
  padding: 48px 16%;
}
