@import '/styles/commonStyle.scss';
// @import '/styles/displayMode.scss';
:root {

  // Brand_Colors_Spectrum

  --yellow_est: #414115;
  --yellow_er: #66661F;
  --yellow: #E7FF57;
  --yellow_less: #EFEFE7;
  --yellow_lesser: #FFFFF5;

// Monochrome_Colors_Spectrum

  --white: #ffffff;
  --gray_less: #BABABA;
  --gray: #262626;
  --gray_er: #3c3c3c;
  --black: #000000;

// HeaderNav_Color_Switch
--headerNav_black: #000000;

// ButtonMaterial_Color_Switch
--pri_btn_bg: #000000;
--pri_btn_text: #ffffff;

--sec_btn_bg: unset;
--sec_btn_text: #000000;

/* ... other variables for light mode */

}

.dark-mode {

  // Brand_Colors_Spectrum

  --yellow_est: #414115;
  --yellow_er: #66661F;
  --yellow: #414115;
  --yellow_less: #3c3c3c;
  --yellow_lesser: #000000;

// Monochrome_Colors_Spectrum

  --white: #000000;
  --gray_less: #3c3c3c;
  --gray: #262626;
  --gray_er: #BABABA;
  --black: #FFFFFF;

// HeaderNav_Color_Switch
  --headerNav_black: #3c3c3c;

// ButtonMaterial_Color_Switch
  --pri_btn_bg: #E7FF57;
  --pri_btn_text: #000000;

  --sec_btn_bg: unset;
--sec_btn_text: #E7FF57;

/* ... other variables for light mode */
}


html,
body {
  padding: 0;
  margin: 0;
  background: #3c3c3c;
  scroll-behavior: smooth;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--black);
  /* width: 100%; */
}

h1 {
  font-size: 46px;
  min-width: 80%;
  max-width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  z-index: 1;
  position: relative;
  color: var(--black);

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -20;
    opacity: 1;
    width: 60%;
    height: 50px;
    left: 0%;
    bottom: -18px;
    background: var(--yellow);
  }

  @include for-tinnyP-only {
    font-size: 40px;
  }

  @include for-tablet-only {
    margin-bottom: 40px;
    min-width: 70%;
    max-width: 80%;
    font-size: 56px;

    &:after {
      width: 50%;
      left: -5%;
      bottom: -20px;
    }
  }

  @include for-desktop-only {
    &:after {
      width: 110%;
      left: -5%;
      bottom: -20px;
    }
  }
}

h2, h3, h4, h6, p {
  padding: 0;
  margin: 0;
  color: var(--black);
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  display: block;
}

/* styles for direct children of the main tags (sections) ⇣ */

main > section {
  background: var(--white);
  // background: blue;
  display: block;
  width: 100%;
  padding: 48px 32px;

  @include for-tinnyP-only {
    padding: 48px 24px;
  }

  @include for-tablet-only {
    padding: 64px 12%;
  }

  @include for-desktop-only {
    display: block;
    padding: 124px 8%;
  }

  @include for-desktopX-only {
    height: 80vh;
    padding: 0 14%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

nav {
  padding: 32px;

  @include for-tablet-only {
    padding: 40px 12%;
  }

  @include for-desktop-only {
    padding: 32px 8%;
  }

  @include for-desktopX-only {
    padding: 32px 14%;
  }
}

footer {
  padding: 32px;

  @include for-tablet-only {
    padding: 40px 12%;
  }

  @include for-desktop-only {
    padding: 16px 8%;
  }

  @include for-desktopX-only {
    padding: 32px 14%;
  }
}
