@import '/styles/commonStyle.scss';

.container {
  width: 100%;
  display: block;
  position: relative;
  background: var(--white);

  &.modalOn {
    height: 100vh;
    overflow-y: hidden;
    position: relative;
  }

  .navHolder {
    position: sticky;
    width: 100%;
    top: 0;
    transition: top 0.4s ease-out;
    z-index: 20;

    &.hide {
      top: -80px;
    }
  }

  main.main {
    width: 100%;
  }
}
