.nav {
    height: 50px;
    background: #000;
    color: #fff;
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 200px;
      svg {
        width: 100%;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      li a {
        margin: 5px 15px;
      }
    }

    .actionButtonWrapper {
      a {
          border: 1px solid white;
          padding: 8px 24px;
          border-radius: 50px;
      }
    } 
  }